pydantic
pydantic-settings
fastapi
uvicorn[standard]

langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-qdrant
langchain-neo4j
neo4j

sentence-transformers
qdrant-client
rank-bm25
cohere

pyvis
